[Unit]
Description=Luigi and discord bot 
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/pill_time/task.py
WorkingDirectory=~/pill_time/
Restart=always
User=user_machine 
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
