[Unit]
Description=Luigi and discord bot 
After=network.target

[Service]
ExecStart=/usr/bin/python3 route/task.py
WorkingDirectory=route
Restart=always
User=user_machine 
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
