[Unit]
Description=Flask server
After=network.target

[Service]
ExecStart=/usr/bin/python3 folder_rute/web.py
WorkingDirectory=folder_rute
Restart=always
User=user_machine
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
